.game-page-bg {
  background-color: black;
}
.game-page-bg .game-stage-container {
  width: 700px;
  height: 100vh;
  margin: auto;
  background-color: rgb(120, 54, 54) !important;
  z-index: -3;
}
.game-page-bg .game-stage-container h1, .game-page-bg .game-stage-container h2 {
  text-align: center;
  color: white;
  padding-top: 20px;
}
.game-page-bg .game-stage-container .player-clock-container {
  width: 700px;
  height: 200px;
  border: 1px solid yellow;
  display: flex;
  justify-content: space-between;
}
.game-page-bg .game-stage-container .player-clock-container > * {
  border: 1px solid green;
}
.game-page-bg .game-stage-container .player-card {
  width: 175px;
}
.game-page-bg .game-stage-container .clock-banner {
  width: 225px;
}
.game-page-bg .game-stage-container .board {
  margin-left: 50px;
}
.game-page-bg .game-stage-container .done-btn-container {
  width: 200px;
  margin: auto;
  margin-top: 60px;
  background-color: orange;
}
